<body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="../images/bulma.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li class="is-active"><a>Présentation</a></li>
                                    <li><a href="/dashboard">Dashboard</a></li>
                                    <li><a href="/invite">Ajouter le bot</a></li>
                                    <li><a href="https://github.com/andronedev/megaweb-bot">Github</a></li>
                                    <li><a href="/support">Discord</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img style=" border-radius: 10px;" src="https://cdn.discordapp.com/attachments/772517428005568543/842016350402641920/megawebv2.png" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-3">
                            Megaweb permet d'afficher le statut de votre site web directement sur votre Discord

                        </h1>

                        <br>
                        <p class="has-text-centered">
                            <a href="/dashboard" class="button is-medium is-info is-outlined">
                                Dashboard
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a target="_blank" href="https://androne.dev">AndroneDev 2021</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>